{% extends 'base.html' %}

{% block title %}
    {{ job.title }}
{% endblock %}

{% block css %}
    <style>
        .job-img {
            max-width: 100px;
            max-height: 100px;
            margin-right: 10px;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="card">
            <div class="card-header bg-light text-white">
                <h4 class="card-title text-primary">{{ job.title }}</h4>
            </div>
            <div class="card-body">
                <div class="alert alert-success" role="alert">
                    You have successfully Ranked {{ job.title }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
